---
- name: Build options
  ansible.builtin.set_fact:
      directories_options_merged: "{{ directories_options_defaults | combine(directories_options | default(directories_options_defaults), recursive=true) }}"

#
# Volume and subdirectories
#
- name: Volume
  ansible.builtin.file:
      path: "{{ directories_options_merged.volume.base_path }}/{{ directories_options_merged.service.name }}"
      state: directory
      recurse: "{{ directories_options_merged.volume.recurse }}"
      owner: "{{ directories_options_merged.service.user }}"
      group: "{{ directories_options_merged.volume.group | default(directories_options_merged.service.user) }}"
      mode: "{{ directories_options_merged.volume.mode }}"
  when: directories_options_merged.volume.create
  register: directories_volume_output

- name: Volume subdirectories
  ansible.builtin.file:
      path: "{{ directories_options_merged.volume.base_path }}/{{ directories_options_merged.service.name }}/{{ item }}"
      state: directory
      recurse: "{{ directories_options_merged.volume.recurse }}"
      owner: "{{ directories_options_merged.service.user }}"
      group: "{{ directories_options_merged.volume.group | default(directories_options_merged.service.user) }}"
      mode: "{{ directories_options_merged.volume.mode }}"
  when: directories_options_merged.volume.create and directories_options_merged.volume.subdirectories | length > 0
  loop: "{{ directories_options_merged.volume.subdirectories }}"
  register: directories_volume_subdirectories_output

#
# Logs and subdirectories
#
- name: Logs
  ansible.builtin.file:
      path: "{{ directories_options_merged.logs.base_path }}/{{ directories_options_merged.service.name }}"
      state: directory
      recurse: "{{ directories_options_merged.logs.recurse }}"
      owner: "{{ directories_options_merged.service.user }}"
      group: "{{ directories_options_merged.logs.group | default(directories_options_merged.service.user) }}"
      mode: "{{ directories_options_merged.logs.mode }}"
  when: directories_options_merged.logs.create
  register: directories_logs_output

- name: Logs subdirectories
  ansible.builtin.file:
      path: "{{ directories_options_merged.logs.base_path }}/{{ directories_options_merged.service.name }}/{{ item }}"
      state: directory
      recurse: "{{ directories_options_merged.logs.recurse }}"
      owner: "{{ directories_options_merged.service.user }}"
      group: "{{ directories_options_merged.logs.group | default(directories_options_merged.service.user) }}"
      mode: "{{ directories_options_merged.logs.mode }}"
  when: directories_options_merged.logs.create and directories_options_merged.logs.subdirectories | length > 0
  loop: "{{ directories_options_merged.logs.subdirectories }}"
  register: directories_logs_subdirectories_output

#
# Cache and subdirectories
#
- name: Cache
  ansible.builtin.file:
      path: "{{ directories_options_merged.cache.base_path }}/{{ directories_options_merged.service.name }}"
      state: directory
      recurse: "{{ directories_options_merged.cache.recurse }}"
      owner: "{{ directories_options_merged.service.user }}"
      group: "{{ directories_options_merged.cache.group | default(directories_options_merged.service.user) }}"
      mode: "{{ directories_options_merged.cache.mode }}"
  when: directories_options_merged.cache.create
  register: directories_cache_output

- name: Cache subdirectories
  ansible.builtin.file:
      path: "{{ directories_options_merged.cache.base_path }}/{{ directories_options_merged.service.name }}/{{ item }}"
      state: directory
      recurse: "{{ directories_options_merged.cache.recurse }}"
      owner: "{{ directories_options_merged.service.user }}"
      group: "{{ directories_options_merged.cache.group | default(directories_options_merged.service.user) }}"
      mode: "{{ directories_options_merged.cache.mode }}"
  when: directories_options_merged.cache.create and directories_options_merged.cache.subdirectories | length > 0
  loop: "{{ directories_options_merged.cache.subdirectories }}"
  register: directories_cache_subdirectories_output
