---
- name: Build options
  ansible.builtin.set_fact:
      pod_options_merged: "{{ pod_options_defaults | combine(pod_options | default(pod_options_defaults), recursive=true) }}"

- name: Create the pod
  become_user: "{{ pod_options_merged.service.user }}"
  become: true
  register: create_pod_output
  containers.podman.podman_pod:
      name: "{{ pod_options_merged.service.name }}"
      infra_name: "{{ pod_options_merged.service.name }}_pod"
      state: "{{ container_state | default('started') }}"
      network: "{{ pod_options_merged.network }}"
      publish: "{{ pod_options_merged.publish }}"
      userns: "{{ pod_options_merged.user_namespace }}"
