---
- name: Build options
  ansible.builtin.set_fact:
      cert_options_merged: "{{ cert_options_defaults | combine(cert_options, recursive=true) }}"

- name: Create private key
  community.crypto.openssl_privatekey:
      path: "{{ cert_options_merged.key.output }}"
      owner: "{{ cert_options_merged.key.owner | default(cert_options_merged.service.user) }}"
      group: "{{ cert_options_merged.key.group | default(cert_options_merged.service.user) }}"
      mode: "{{ cert_options_merged.key.mode }}"

- name: Create CSR
  register: cert_csr_output
  community.crypto.openssl_csr:
      path: "{{ cert_options_merged.csr.output }}"
      privatekey_path: "{{ cert_options_merged.key.output }}"
      common_name: "{{ cert_options_merged.csr.cn }}"
      subject_alt_name: "{{ cert_options_merged.csr.subject_alt_names }}"
      return_content: true

- name: Sign the new certificate locally
  delegate_to: 127.0.0.1
  register: cert_signed_output
  community.crypto.x509_certificate_pipe:
      csr_content: "{{ cert_csr_output.csr }}"
      provider: ownca
      ownca_path: "{{ cert_options_merged.ca.crt_path }}"
      ownca_privatekey_path: "{{ cert_options_merged.ca.key_path }}"
      ownca_not_after: "{{ cert_options_merged.crt.not_after }}"
      ownca_not_before: "{{ cert_options_merged.crt.not_before }}"

- name: Write the certificate
  ansible.builtin.copy:
      content: "{{ cert_signed_output.certificate }}"
      dest: "{{ cert_options_merged.crt.output }}"
      owner: "{{ cert_options_merged.crt.owner | default(cert_options_merged.service.user) }}"
      group: "{{ cert_options_merged.crt.group | default(cert_options_merged.service.user) }}"
      mode: "{{ cert_options_merged.crt.mode }}"
