---
- name: Build options
  ansible.builtin.set_fact:
      postgresql_options_merged: "{{ postgresql_options_defaults | combine(postgresql_options, recursive=true) }}"

- name: Create container
  become: true
  become_user: "{{ postgresql_options_merged.service.user }}"
  register: postgresql_container_output
  containers.podman.podman_container:
      name: "{{ postgresql_options_merged.container_name | default(postgresql_options_merged.service.name + '_postgresql') }}"
      state: "{{ container_state | default('started') }}"
      pod: "{{ postgresql_options_merged.pod_name | default(postgresql_options_merged.service.name) }}"
      image: "{{ postgresql_options_merged.image }}:{{ postgresql_options_merged.version }}"
      # Sometimes has to be recreated to avoid permission errors with uid mapping
      # But can break something else if true
      recreate: "{{ postgresql_options_merged.recreate }}"
      volumes:
          # The :U at the end *should* chown the contents of the volume directory to
          # the user the container happends to be mapped to with subuid and subgid
          - "{{ postgresql_options_merged.paths.volume }}:/var/lib/postgresql/data:U"
      env:
          POSTGRES_DB: "{{ postgresql_options_merged.database.name | default(postgresql_options_merged.service.name) }}"
          POSTGRES_USER: "{{ postgresql_options_merged.database.username | default(postgresql_options_merged.service.name) }}"
          POSTGRES_PASSWORD: "{{ postgresql_options_merged.database.password }}"
      log_driver: "{{ postgresql_options_merged.log_driver }}"
      log_options:
          path: "{{ postgresql_options_merged.paths.logs }}/{{ postgresql_options_merged.log_file }}"
