job_name: "podman_exporter"
scrape_interval: 1m
scrape_timeout: 10s
metrics_path: "/metrics"
scheme: "http"
static_configs:
    {% for target_file in playbook_files_output.files %}
    - targets: ["{{ network.internal_ip }}:{{ network.podman_exporter_range_start + loop.counter - 1}}"]
      labels:
        service_name: "{{ target_file.path | split('/') | last | split('.') | first }}"
    {% endfor %}
